.dropdown-outline {
  background-color: transparent !important;
  border-color: white !important;
  box-shadow: none !important;

  &:hover {
    background-color: transparent !important;
    border-color: white !important;
  }
  &:focus {
    background-color: transparent !important;
    border-color: white !important;
  }
  &:active {
    background-color: transparent !important;
    border-color: white !important;
  }
}

.bg-red {
  background-color: #e50914 !important;
  border-color: #e50914 !important;
  box-shadow: none !important;
}
